* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(89, 172, 226);
    width: 80%;
    margin: auto;
}

nav {
    border: medium solid rgb(192, 119, 223);
    border-radius: 5px;
    box-shadow: 4px 1px 6px;
    margin-bottom: 3em;
    text-align: center;
    margin-top: 2em;
}

nav ul li {
    display: inline-block;
}

main {
    display: inline-block;
    width: 45%;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    border: solid rgb(168, 231, 229);
    padding: 2em;
    margin-left: 125px;
}
