* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(89, 172, 226);
    width: 90%;
    margin: auto;
}

nav {
    border: medium solid rgb(192, 119, 223);
    border-radius: 5px;
    box-shadow: 4px 1px 6px;
    margin-bottom: 3em;
    text-align: center;
    margin-top: 2em;
}

nav ul li {
    display: inline-block;
    margin: 0 50px;
}

main {
    display: inline-block;
    width: 60%;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

article {
    display: inline-block;
}

.small {
    width: 200px;
    margin: 10px;
}

p {
    margin: 10px 0;
}

h2 {
    text-align: center;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    border: solid rgb(168, 231, 229);
    padding: 2em;
    margin-left: 0;
    margin-top: 70px;
}
